.tab-address {
	#address-form {
		min-height:479px !important;
		margin-left: 10px;
	}
	#bottom-bar {
		background-color: #5c6bc0;
		height: 48px;
		margin-left: 0;
		margin-right: 0;
		margin-top: 40px;
	}
}