.tab-location {

	#bottom-bar {
		background-color: #5c6bc0;
		height: 48px;
		margin-left: 0;
		margin-right: 0;
		margin-top: 40px;
	}

	#tab-location-grid {
		min-height:479px !important;
	}

	#left-side {
	    padding-top: 20px;
	    color: #1c0c4f;
	}

	#year {
	    font-size: 1.2em;
	}

	#year-start {
	    margin-left: 10px;
	    margin-right: 30px;
	}

	#year-end {
	    margin-left: 20px;
	}

	#right-side {
	    padding-bottom: 10px;
	}
}