#bar-content {
  margin-bottom: 13px; }

#avatar-profile {
  color: white;
  padding-top: 10px; }

#avatar {
  float: left;
  padding-top: 4px;
  margin-left: 55px;
  margin-right: 10px; }

#right-appbar {
  float: right;
  margin-right: 20px;
  margin-top: -30px; }

.icon-styles {
  margin-right: 5px !important; }

.avatar-style {
  height: 50px !important;
  width: 50px !important; }
