.filter-row {

}

.filter-check {
    display: inline-block;
    vertical-align: middle;
}

.filter-select {
    display: inline-block;
    vertical-align: middle;
}

.filter-row input {
    margin-right: 10px;
}