#employee-list {
    display:block;
    width: 100%;
    min-width: 400px;
    height: 670px;
    overflow: auto;
}

#add-button {
    position: fixed !important;
    left: 325px !important;
    bottom: 20% !important;
}